# Virtual Environment
venv/
env/
ENV/

# Python Cache & Compiled Files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS & Editor Files
.DS_Store
.vscode/
.idea/

# Environment Variables / Keys
.env